<div class="fml-widget{{#if compact}} fml-widget--compact{{else}} fml-widget--expanded{{/if}}">
  <header class="fml-widget-header">
    <i class="fa-solid fa-music"></i>
    <select name="playlistId">
      {{#each playlists}}
      <option value="{{id}}" {{#if (eq ../activePlaylistId id)}}selected{{/if}}>{{name}}</option>
      {{/each}}
    </select>
    <button type="button" data-action="toggleCompact" title="{{compactLabel}}"><i class="fa-solid {{compactIcon}}"></i></button>
    <button type="button" data-action="closeWidget" title="{{localize "FML.Widget.Hide"}}"><i class="fa-solid fa-xmark"></i></button>
  </header>
  <div class="fml-widget-body">
    <div class="fml-widget-main">
      <div class="fml-widget-now{{#if compact}} fml-widget-now--compact{{/if}}">
        {{#unless compact}}
        <div class="label">{{localize "FML.Widget.NowPlaying"}}</div>
        {{/unless}}
        <div class="track" title="{{nowPlaying}}">{{nowPlaying}}</div>
      </div>
      <div class="fml-widget-progress" aria-hidden="{{#unless showProgress}}true{{/unless}}">
        <div class="fml-widget-progress-track" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="{{progressPercent}}">
          <div class="fml-widget-progress-fill" style="width: {{progressPercent}}%"></div>
        </div>
        <span class="fml-widget-progress-time">{{progressLabel}}</span>
      </div>
      <div class="fml-widget-transport{{#if compact}} fml-widget-transport--compact{{/if}}">
        <div class="fml-widget-controls">
          <button type="button" data-action="prev" title="{{localize "FML.Widget.Previous"}}"><i class="fa-solid fa-backward-step"></i></button>
          <button type="button" data-action="togglePlay" title="{{playPauseLabel}}"><i class="fa-solid {{playPauseIcon}}"></i></button>
          <button type="button" data-action="next" title="{{localize "FML.Widget.Next"}}"><i class="fa-solid fa-forward-step"></i></button>
          <button type="button" data-action="toggleMode" title="{{modeLabel}}"><i class="fa-solid {{modeIcon}}"></i></button>
        </div>
        <div class="fml-widget-volume{{#if compact}} fml-widget-volume--compact{{/if}}">
          {{#unless compact}}<label>{{localize "FML.Widget.Volume"}}</label>{{/unless}}
          <input type="range" name="volume" min="0" max="1" step="0.05" value="{{volume}}" title="{{localize "FML.Widget.Volume"}}" />
        </div>
      </div>
    </div>
    {{#if showTrackList}}
    <aside class="fml-widget-tracks">
      <div class="fml-widget-tracks-title">{{localize "FML.Widget.TrackList"}}</div>
      <div class="fml-widget-tracks-head">
        <span class="fml-widget-tracks-col-title">{{localize "FML.Track.Title"}}</span>
        <span class="fml-widget-tracks-col-duration">{{localize "FML.Track.Duration"}}</span>
      </div>
      <ul class="fml-widget-track-list">
        {{#each playlistTracks}}
        <li>
          <button
            type="button"
            class="fml-widget-track-btn{{#if playing}} is-playing{{/if}}"
            data-action="playTrack"
            data-track-path="{{path}}"
            title="{{display}}"
          >
            <span class="fml-widget-track-title">
              <span class="fml-widget-track-title-scroll">
                <span class="fml-widget-track-title-text">{{display}}</span>
              </span>
            </span>
            <span class="fml-widget-track-duration">{{duration}}</span>
          </button>
        </li>
        {{/each}}
      </ul>
    </aside>
    {{/if}}
  </div>
</div>
